a.aa {
    font-family: FavoritHeavyC;
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
}
a.aa:hover {
    color:red ;
}
*, body {
    margin: 0;
    padding: 0;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
ul {
    list-style: none;
    display: grid;
    grid-template-columns: 15vw 5vw 10vw 15vw 25vw 20vw 10vw;
    grid-template-rows: 25vh 10vh 5vh 20vh 15vh 10vh 15vh;
    grid-template-areas:
        "H B B L C C D"
        "H A A A C C D"
        "O A A A F P D"
        "I I Q Q F E E"
        "I I Q Q M E E"
        "I I G J J R R"
        "N K K J J R R";
}
*, body {
    margin: 0;
    padding: 0;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    padding: 10px;
    border-width: 0.5px;
    border-style: inset;
    font-family: sans-serif;
    font-size: 12px;
}
*, body {
    margin: 0;
    padding: 0;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}